<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.xzy.farm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".ReceiveService"></service>

        <activity android:name=".MainActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".SelectKindActivity"
                  android:launchMode="singleTask">

        </activity>
        <activity android:name=".Code"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".SettingsActivity"
                  android:launchMode="singleTask">


        </activity>

        <activity android:name=".TemperatureActivity"
                  android:launchMode="singleTask">


        </activity>

        <activity android:name=".HumidityActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".CO2Activity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".LightActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".FarmSecurityActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".IndividualSecurityActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".MYScheduleActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".BJScheduleActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".XDScheduleActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".AddScheduleActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".UsersettingActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".SomeActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".DetailsActivity"
                  android:launchMode="singleTask">

        </activity>


        <activity android:name=".FarmSettingActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".TotalsettingActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".TemperaturesettingActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".HumiditySettingActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".LightsettingActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".BodyTemperaturesettingActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".AdreesssettingActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".PasswordSettingActivity"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".MobileSettingActivity"
                  android:launchMode="singleTask">

        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

</manifest>